name: Update GitHub Stats

on:
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch:

jobs:
  update-stats:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: anuraghazra/github-readme-stats@master
        with:
          username: justintyf01
          commit_message: "chore: update stats"
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
