name: Update GitHub Stats

on:
  push:
    branches: [ main ]
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  stats:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate stats image
        uses: cicirello/user-statistician@v1
        with:
          colors: dark
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
